@import "compass/css3";
@import "_animations";


.game {
  left: 50%;
  top: 50%;
  width: 400px;
  height: 600px;
  margin-left: -400px;
  margin-top: -300px;
  overflow: hidden;
  position: absolute;
  background: url('../images/background.png');
}

.world {
  position: absolute;
  width: 500px;
  height: 5000px;

}

.middleBackground{
  position: absolute;
  height: 600px;
  width: 400px;
  background: url('../images/background2.png');
}
.farBackground{
 

}
.background {
 
  position: absolute;
  height: 3000px;
  width: 500px;
}

.enemy {
  position: absolute;
  height: 75px;
  width: 65px;
  left: 0;
  top: 0;
  background: url('../images/apple.png') 50% 50% / contain no-repeat;
}

@import "_player";
@import "_platform";
